font.priceblueitalicbig {
  color: pink;
}
.rubles {
  font-size: 12px;
  font-weight: bold;
  color: green;
  white-space: nowrap;
  text-align: right;
  margin: 0 5px;
}
.refresh-price {
  font-size: 14px;
  position: fixed;
  z-index: 1000;
  top: 5px;
  left: 5px;
}